.cards {
    padding-top: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .cards {
        padding-top: 88px;
    }
    
}

@media screen and (max-width: 320px) {
    .cards {
        padding-top: 64px;
    }
    
}