.content {
    padding-top: 56px;
    padding-bottom: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .content {
        padding-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 600px) {
    .content {
        padding-bottom: 64px;
    }
}