.lead__title {
    margin: auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    max-width: 720px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 657px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
    }
}