.intro {
    margin: auto;
    max-width: 984px;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 90vw;
    }
    
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 88px;
        max-width: 94vw;
    }
}

@media screen and (max-width: 375px) {
    .intro {
        padding-top: 64px;
        max-width: 288px;
        
        margin-left: 16px;
        margin-right: 16px;

    }
}