.lead__subtitle {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
    
}

@media screen and (max-width: 657px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
        margin-top: 16px;
        margin-bottom: 40px;
    }
}