.place__website {
    max-width: 456px;
    align-self: flex-end;
}

@media screen and (max-width: 808px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        max-width: 288px;
        width: 100%;
        margin: auto;
    }
}